obj/
bin/
ProjectSetup.md
ProjectFunctionalities.md
Project Artificats/Details
cgrwebapi/appsettings.Development.json
cgrwebapi/appsettings.json
Project Artificats/SecurityPractice.txt
cgrtest/CoverageReport
cgrtest/TestResults